/* ShowAllTrips.css */
.container {
    padding: 20px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .trips-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .trip-card-horizontal {
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    max-width: 90%;
    margin-left: 5%;
    box-sizing: border-box;
  }
  
  .trip-details {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .bus-name {
    font-size: 25px;
    font-weight: bold;
    color: #ff0004;
  }
  
  .route, .schedule, .trip-date, .bus-info, .capacity, .type, .price {
    font-size: 14px;
    margin: 5px 0;
    font-weight: bold;
  }
  
  .price {
    font-weight: bold;
    color: #ff5722;
  }
  
  .error-message {
    color: red;
    text-align: center;
  }
  
  .view-seats-button {
    background-color: #FF4C4C;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 10px;
    text-align: center;
  }
  
  .view-seats-button:hover {
    background-color: #d44141;
  }
  