@import url('https://fonts.googleapis.com/css2?family=Garamond:wght@400&display=swap');

.logo-style1 {
    font-family: 'Garamond'; /* Use a clean sans-serif font */
    font-size: 2.5rem; /* Adjust size as needed */
    font-weight: 600; /* Semi-bold weight */
    color: #f6f0e8;

    -webkit-background-clip: text; /* Clip background to text */
    background-clip: text;
  }

  .video-overlay {
    position: absolute;
    color: #fff;
    text-align: center;
    font-weight: bold;
    margin-top: 18%;
    z-index: 0;
  }
  
  .video-container {
    height: 40vh; /* Adjust this to your needs */
    margin-top: 5%;
  }
  

  .video-overlay h1:first-child {
    font-size: 6rem;
    margin: 0;
    text-shadow: 0 0 3px white, 0 0 3px white, 0 0 3px white;
  }
  
  .highlight{
    font-size: 3rem;
    margin: 0;
    color: transparent; /* Make the text inside transparent */
    -webkit-text-stroke: 1px white; /* White border around the text */
    display:inline-block;
  }
  
  
  .span {
    color: #00b7ff9a; /* Adjust color to match desired style */
    display: inline;
    text-shadow: 0 0 3px white, 0 0 3px white, 0 0 3px white;
  }
  
  .mycontainer {
    position: relative;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
  }

  .container h2,
.container p {
  color: black;
}

.footer{
  background-color: white;
  color: black;
}

.navbar {
  position: relative;
  z-index: 1; 
}

/* Container Styling */
.search-container {
  padding: 2rem;
  margin-top: 30%;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.9);
}


.search-title {
  font-size: 2.2rem;
  color: #333;
  text-align: center;
  margin-bottom: 1.5rem;
}

.search-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr auto;
  gap: 10px;
}

.search-input {
  padding: 10px;
  border: 2px solid #63a0bc;
  border-radius: 5px;
  font-size: 1rem;
}

.search-button {
  background-color: #63a0bc;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #a9d6ea;
}

.login-page {
  background: url("/public/assests/homepage.jpg") no-repeat center center fixed;
  background-size: cover;
  color: white;
  min-height: 100vh;
  position: relative;
}

.login-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3); /* White shade */
  backdrop-filter: blur(3px); /* Blur effect */
  z-index: 1;
}

.login-page form {
  position: relative;
  z-index: 2;
}


.form-container {
  width: 30rem;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  display: flex;
  flex-direction: column;
  border: 2px solid #b5dceb;
  border-radius: 10px;
  z-index: 2;
}

.register-page {
  background: url("/public/assests/homepage.jpg") no-repeat center center fixed;
  background-size: cover;
  color: black;
  min-height: 100vh;
  position: relative;
}

.register-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3); /* White shade */
  backdrop-filter: blur(3px); /* Blur effect */
  z-index: 1;
}

.register-form-container {
  position: relative;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  border-radius: 10px;
  width: 35rem;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}


