.logo-style1 {
  font-family: 'Verdana'; /* Use a clean sans-serif font */
  font-size: 1.8rem; /* Adjust size as needed */
  font-weight: 600; /* Semi-bold weight */
  color: white;

  -webkit-background-clip: text; /* Clip background to text */
  background-clip: text;
}


.sidebar-link, .sidebar-linka {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  font-size: 1.2rem; /* Increased font size */
  color: #ffffff;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.sidebar-link:hover, 
.sidebar-linka:hover {
  background-color: #97c7f0 !important;
  color: #ffffff !important;
}

.sidebar-link.active, 
.sidebar-linka.active {
  background-color: #97c7f0 !important;
  color: #ffffff !important;
}



/* Main Layout */
.layout-container {
  display: flex;
  height: 100vh;
}

/* Sidebar: 25% */
.sidebar1 {
  width: 10%;
  background-color: #63a0bc;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 2px solid white;
}

/* Sidebar Header */
.sidebar-header {
  padding: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #44474a;
}

/* Sidebar Links */
.sidebar-nav {
  width: 100%;
  margin-top: 20px;
}

.icona {
  margin-right: 15px;
  font-size: 2rem; /* Increased icon size */
}

.active1 {
  color:  #97c7f0;
  font-weight: bold;
  background-color:  #97c7f0;
}

.main-content {
  width: 100%;
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  overflow-y: auto;
}

/* ViewCustomer Content Styling */
.view-container {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.text-center {
  text-align: center;
  margin-bottom: 20px;
}
.view-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
