.seat-container {
    text-align: center;
    padding: 20px;
  }
  
  .seat-title {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .bus-layout {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 20%;
  }
  
  .seat-grid {
    display: grid;
    grid-template-columns: repeat(13, 50px);
    grid-gap: 20px;
    background: #f8f9fa;
    padding: 10px;
    max-width: 400px;
    margin-right: 25%;
  }
  
  .seat-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 5px;
    transition: all 0.3s ease;
  }
  
  .seat-icon p {
    margin-top: 5px;
  }
  
  .available {
    background-color: white;
  }
  
  .booked {
    background-color: rgb(255, 47, 0);
    color: white;
  }


  .selected {
    background-color: green;
    color: white;
  }
  
  .passenger-table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
  }
  
  .passenger-table th, .passenger-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  .submit-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
  }
  
  .submit-btn:hover {
    background-color: #0056b3;
  }
  
  